@{
    ViewBag.Title = "AdminOnly";
 
}

<h2>Admin Control Panel</h2>  

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();

    <div class="form-horizontal">

        <div class="form-group">
            @* Display All Users *@
            <div class="col-md-4">
                <input type="button" value="Display All Users" class="btn btn-primary btn-lg btn-block" 
                       id="displayAllUsersButton" data-url="@Url.Action("ManageUserPartial", "Home")" />
                <br />
            </div>
            @* Seach By Last Name *@
            <div class="col-md-4">
                <input type="button" value="User Search By Last Name" class="btn btn-primary btn-lg btn-block " 
                       id="displayNamedUserButton"  />
                <br />
                <div id="nameHiddenDiv" style="display: none">
                    <input type="text" id="nameSearchField" placeholder="Guest Last Name" class="form-control" />
                    <input type="button" value="Go" class="btn btn-primary btn-sm" id="buttonPostNameSearch" 
                           data-url="@Url.Action("ManageUserPartial", "Home")" />
                 </div>
                <br />
            </div>
            @* Search By Id Number*@
            <div class="col-md-4">
                <input type="button" value="User Search By ID Number" class="btn btn-primary btn-lg btn-block " 
                       id="displayIdUserButton"  />
                <br />
                <div id="idHiddenDiv" style="display:none">
                    <input type="text" id="IdSearchField" placeholder="Guest ID Number" class="form-control" />
                    <input type="button" value="Go" class="btn btn-primary btn-sm" id="buttonPostIdSearch" 
                           data-url="@Url.Action("ManageUserPartial", "Home")" />
                    <br />
                </div>
            </div>
        </div>

        <div class="form-group">
            @* Create New User *@
            <div class="col-md-4">
                <input type="button" value="Create New User" class="btn btn-primary btn-lg btn-block" 
                       id="createUserButton" data-url="@Url.Action("SignUp", "Account")" />
                <br />
            </div>
            @* Search for Reservation by ID *@
            <div class="col-md-4">
                <input type="button" value="Search for Reservation" class="btn btn-primary btn-lg btn-block" 
                       id="displayReservationButton" />
                <br />
                <div id="resHiddenDiv" style="display: none;">
                    <input type="text" id="resSearchField" placeholder="Reservation Number" class="form-control" />
                    <input type="button" value="Go" class="btn btn-primary btn-sm" id="buttonResSearch"
                           data-url="@Url.Action("FindReservationById", "Reservation")" />
                    <br />
                </div>

            </div>
            @* Add Reservation *@
            <div class="col-md-4">
                <input type="button" value="Add Reservation" class="btn btn-primary btn-lg btn-block" 
                       id="makeReservationButton" />
                <br />
                <div id="makeResHiddenDiv" style="display: none;">
                    <p>Enter the guest id to which this reservation should be attached.</p>
                    <input type="text" id="makeResUserIdField" placeholder="Guest Id" class="form-control" />                    
                    <input type="button" id="makeResUerIdButton" value="Go" class="btn btn-primary btn-sm"
                           data-url="@Url.Action("Reservation","Reservation")" />
                </div>
            </div>
        </div>

    </div>
}

<div id="divUserListContainer"></div>
<div id="divCreateUser"></div>

<script>
    //Get All Users Button
    $(function() {
        $('#displayAllUsersButton').click(function () {
            $.ajax({
                url: $(this).data('url'),
                type: 'GET',
                cache: false,
                success: function(result) {
                    $('#divUserListContainer').html(result);
                }
            });
            return false;
        });
    });

    //Get Named Users
    $(function () {
        $('#buttonPostNameSearch').click(function () {
            var name = $('#nameSearchField').val();
            $.ajax({
                url: $(this).data('url')+ '?name=' + name,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#divUserListContainer').html(result);
                }
            });
            return false;
        });
    });

    //Get User By User ID
    $(function () {
        $('#buttonPostIdSearch').click(function () {
            var id = $('#IdSearchField').val();
            $.ajax({
                url: $(this).data('url') + '?id=' + id,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#divUserListContainer').html(result);
                }
            });
            return false;
        });
    });

    //Create User
    $(function () {
        $('#createUserButton').click(function () {
            $.ajax({
                url: $(this).data('url'),
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#divUserListContainer').html(result);
                }
            });
            return false;
        });
    });

    //Get Reservation By ID
    $(function () {
        $('#buttonResSearch').click(function () {
            var id = $('#resSearchField').val();
            $.ajax({
                url: $(this).data('url') + '?id=' + id,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#divUserListContainer').html(result);
                }
            });
            return false;
        });
    });

    //Make Reservation
    $(function () {
        $('#makeResUerIdButton').click(function () {
            var getId = $('#makeResUserIdField').val();
            var id = parseInt(getId);
            $.ajax({
                url: $(this).data('url') + '?id=' + id,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#divUserListContainer').html(result);
                }
            });
            return false;
        });
    });

    //Press enter functionality on buttons

    $('#nameHiddenDiv').keypress(function (e) {
        if (e.keyCode == 13)
            $('#buttonPostNameSearch').click();
    });

    $('#idHiddenDiv').keypress(function (e) {
        if (e.keyCode == 13)
            $('#buttonPostIdSearch').click();
    });

    $('#resHiddenDiv').keypress(function (e) {
        if (e.keyCode == 13)
            $('#buttonResSearch').click();
    });

    //Display hidden fields on button click

    $(function () {
        $('#displayNamedUserButton').click(function () {
            $("#nameHiddenDiv").fadeToggle(200);
        });
    });

    $(function () {
        $('#displayIdUserButton').click(function () {
            $("#idHiddenDiv").fadeToggle(200)
        });
    });

    $(function () {
        $('#displayReservationButton').click(function () {
            $("#resHiddenDiv").fadeToggle(200)
        });
    });

    $(function () {
        $('#makeReservationButton').click(function () {
            $("#makeResHiddenDiv").fadeToggle(200)
        });
    });


</script>




@Html.ActionLink("Sign Out", "SignOut", "Account") | 
@Html.ActionLink("Return to Home", "Index", "Home")
