
@model IList<ResortHotelRev2.Models.ViewModel.RoomAndReservationModel>

@{
    ViewBag.Title = "ViewMyReservations";
}
<div class="container backPanel">
    <div class="table-responsive">
        <h1>My Reservations</h1>
        <table class="table-condensed table-hover table-striped table-responsive">
            <thead>
                <tr>
                    <th>Reservation <br /> Number</th>
                    <th>Date Placed</th>
                    <th>Rooms Selected</th>
                    <th>King Beds</th>
                    <th>Queen Beds</th>
                    <th>Smoking</th>
                    <th>Check-In</th>
                    <th>Check-Out</th>
                    <th>Reservation<br />Status</th>
                    <th></th>
                </tr>

            </thead>
            <tbody>

                @for (int i = 0; i < Model.Count; i++)

            {

                    <tr>
                        <td>@Html.DisplayFor(r => r[i].Id)</td>
                        <td>@Html.DisplayFor(r => r[i].DatePlaced)</td>
                        <td>
                            @for (int z = 0; z < Model[i].RoomResRmProfile.Count; z++)
                            {
                                @Html.DisplayFor(rm => rm[i].RoomResRmProfile[z].RoomType)<br />
                            }
                        </td>
                        <td>
                            @for (int z = 0; z < Model[i].RoomResRmProfile.Count; z++)
                            {
                                @Html.DisplayFor(rm => rm[i].RoomResRmProfile[z].KingBeds)<br />
                            }
                        </td>
                        <td>
                            @for (int z = 0; z < Model[i].RoomResRmProfile.Count; z++)
                            {
                                @Html.DisplayFor(rm => rm[i].RoomResRmProfile[z].QueenBeds)<br />
                            }
                        </td>
                        <td>
                            @for (int z = 0; z < Model[i].RoomResRmProfile.Count; z++)
                            {
                                @Html.DisplayFor(rm => rm[i].RoomResRmProfile[z].Smoking)<br />
                            }
                        </td>
                        <td>@Html.DisplayFor(r => r[i].CheckIn)</td>
                        <td>@Html.DisplayFor(r => r[i].CheckOut)</td>
                        <td>@Html.DisplayFor(r => r[i].ReservationStatus)</td>
                        <td><a href="javascript:void(0)" class="lnkCancel">Cancel Reservation</a></td>
                    </tr>
                }

            </tbody>

        </table>

    </div>
</div>

<span class="alert-success">@ViewBag.CancelMessage</span>